.bs-table-main .formHeader {
    width: 100%;
}

.formBody{
    width: 60%;
    text-align: center;
    margin: 0 auto;
}

.formHeader .titleDiv {
    text-align: left;
    display:  inline-block
   
}

.formHeader .backDiv {
    text-align: right;
    display: inline-block;
    float:right;
}

.form-label{
    width: 20%;
    margin-left: 10px;
    display: inline;
}

.form-control{
    width: 60%;
    display: inline;
}



.editForm {
    width: 60%;
    height: auto;
    margin:0 auto;
}
.ant-form-item-label {
    width: 100px;
}

.btn-gp {
    width: 100%;
    display:flex;
    justify-content:center;
    align-items:center
}

#stateDiv {
    width: 100px;
    display: none;
}

.form-check {
    display: inline;
    font-size: 14px;
    font-family: inherit;
}