.delTab{
    color: #00ffe7;
    
}

.loginLink  {
    text-align: right;
}

.registerLink  {
    text-align: right;
}

.headerMain {
    background: black;
    height: 45px;
    width: 100%;
}
.navbar-nav {
    margin-left: 180px;
}

.menu-main {
    width: 90%;
    float: left;
}

.login-user-main {
    width: 10%;
    float: right;
    color: white;
}