.delTab{
    color: #00ffe7;
    
}

.loginLink  {
    text-align: right;
}

.registerLink  {
    text-align: right;
}

#navbarheaderMain {
    background: #ff00000d;
    height: 45px;
    width: 100%;
}
.navbar-nav {
    margin-left: 180px;
}

.menu-main {
    width: 90%;
    float: left;
}

